*{
    margin: 0%;
    padding: 0;
    background-color: aquamarine;
}


.images{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fphotos%2Fsearch%2Fcat%2F&psig=AOvVaw0ta5rz7FBb16HfCalpor8f&ust=1722592385993000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJCK7KTD04cDFQAAAAAdAAAAABAE);
    width: 100px;
    height: 100px;
}