*{
    background-color: rgb(255, 0, 149)255, 0, 149);
}
body{
    background-color: rgb(255, 0, 149);
}
#headingone{
    font-family: sans-serif;
}
#Button{
    color: whitesmoke;
    background-color: darkmagenta
}