*{
    margin: 0%;
    padding: 0%;
    font-family: arial;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    display: flex;

}
.nav-logo{
    
}
.logo,.add-icon{
    margin-left: 5px;
    color: white;
    font: 7px; 
}
.logo,.nav-address:hover{
    border: 2px solid white;
    height:50px;
    width: 80px;
}
.nav-address{
    margin-left: 8px;
    color: white;
    }
.nav-search{
    display: flex;
}
    






























































































































